body {
  background-color: #edf2f7;
}
/* Home */
.box-home {
  background-color: #edf2f7;
}
.box-home-in {
  background-color: #ffffff;
  border-radius: 20px;
}
.box-card {
  animation-name: anim-opacity;
  animation-duration: 1.1s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
/* Login */
.box-log {
  background-color: #edf2f7;
}
.box-log-in {
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-log {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-log input {
  margin-top: 10px;
  margin-bottom: 20px;
}
.box-users {
  margin: 50px;
}
.empty-space {
  height: 200px;
}
.loginStatus {
  color: red;
  font-size: 13px;
  font-style: italic;
}
/* Icons */
.icon {
  margin-top: 4px;
}
.mg-eye{
  margin: 12px;
}
/* Registation */
.box-reg {
  background-color: #edf2f7;
  padding-left: 200px;
}
.box-reg-in {
  background-color: #ffffff;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-reg {
  margin: 20px;
}
.buttom-reg {
  margin-top: 20px;
}
.terms {
  margin-left: 10px;
}
.check-terms {
  margin-top: 20px;
}
.tab-txt{
  display: flex;
}
.eye-reg{
  display: flex;
}
/* Terms */
.terms-box {
  margin: 20px;
  background-color: #ffffff;
}
.terms-page {
  background-color: #edf2f7;
}
/* Animations */
@keyframes horizontal-animation {
  0% {
    margin-left: 100px;
  }
  50% {
    margin-left: -20px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  35% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes anim-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
